#f4 {
    left: 8px;
}

#f4Sharp {
    left: 31px;
}

#g4 {
    left: 40px;
}

#g4Sharp {
    left: 63px;
}

#a4 {
    left: 72px;
}

#a4Sharp {
    left: 95px;
}

#b4 {
    left: 104px;
}

#c5 {
    left: 136px;
}

#c5Sharp {
    left: 159px;
}

#d5 {
    left: 168px;
}

#d5Sharp {
    left: 191px;
}

#e5 {
    left: 200px;
}

#f5 {
    left: 232px;
}

#f5Sharp {
    left: 255px;
}

#g5 {
    left: 264px;
}

#g5Sharp {
    left: 287px;
}

#a5 {
    left: 296px;
}

#a5Sharp {
    left: 319px;
}

#b5 {
    left: 328px;
}

#c6 {
    left: 360px;
}

#c6Sharp {
    left: 383px;
}

#d6 {
    left: 392px;
}

#d6Sharp {
    left: 415px;
}

#e6 {
    left: 424px;
}

#f6 {
    left: 456px;
}

#f6Sharp {
    left: 479px;
}

#g6 {
    left: 488px;
}

#g6Sharp {
    left: 511px;
}

#a6 {
    left: 520px;
}

#a6Sharp {
    left: 543px;
}

#b6 {
    left: 552px;
}

#c7 {
    left: 584px;
}

#c7Sharp {
    left: 607px;
}

#d7 {
    left: 616px;
}

#d7Sharp {
    left: 639px;
}

#e7 {
    left: 648px;
}

#f7 {
    left: 680px;
}

#f7Sharp {
    left: 703px;
}

#g7 {
    left: 712px;
}

#g7Sharp {
    left: 735px;
}

#a7 {
    left: 744px;
}

#a7Sharp {
    left: 767px;
}

#b7 {
    left: 776px;
}

#c8 {
    left: 808px;
}
